$website-bg: #f0f3fc;
$gray-site-bg-color: #eef0f4;
$max-width: 1920px;
$phone-width: 350px;
$tablet-width: 768px;
$pc-width: 990px;
$pc-font-size: 15px;
$nav-bar-height: 55px;
$nav-bar-color: #232c38;
$nav-text-color: #7d8a93;

$link-hover: #f66f6a;
$black-text: #282828;
$black-text-two: #262728;
$black-text-three: #393a3c;
$secondary-text: #808080;
$btn-black-border: #282829;
$color-primary:#3d88ff;
$border-color: #e0e0e0;
$white-bg: #FFFFFF;
$white-color: #ffffff;
$active-nav-bg:#1c232d;
$safe-area: 15px

